body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-grey-dark-3;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 7rem;
        font-weight: 400;
        letter-spacing: 1rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        
        @include respond(phone) {
            letter-spacing: .4rem;
            font-size: 5rem;
        }
        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    //background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    //-webkit-background-clip: text;
    //color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    //&:hover {
    //    transform: skewY(2deg) skewX(15deg) scale(1.1);
    //    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    //}
}

.heading-tertiary {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        width: 5rem;
        height: 1px;
        background: $color-secondary;
    }

    &::before {
        margin-right: 1rem;
    }

    &::after {
        margin-left: 1rem;
    }
}

.heading-underline--primary::after,
.heading-underline--secondary::after {
    content: '';
    width: 15rem;
    height: .6rem;
    border: none;
}

.heading-underline--primary::after {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
}

.heading-underline--secondary::after {
    background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.no-js {
    width: 100%;
    color: $color-primary;
    font-size: 2rem;
    text-align: center;
    margin: 4rem;
}