.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;

    &__links {
        margin: 4rem 2rem;
        display: flex;
    }

    &__links--item {
        margin: 0 2rem;

        a:link,
        a:visited {
            color: $color-grey-light-2;

            &:hover {
                color: $color-secondary;
            }
        }

        ion-icon {
            font-size: 4rem;
        }
    }
}

.home-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: url("../assets/images/bg-home.jpg");
    background-size: cover;
    z-index: -10;
}