.main-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &__list {
        display: flex;
        justify-content: center;

        li {
            margin: 0 2rem;

            a {
                padding: 1rem;
                display: block;
                color: $color-white;
                text-decoration: none;
                text-transform: uppercase;

                &:hover,
                &:focus {
                    padding-bottom: calc(1rem - 2px);
                    border-bottom: 2px solid $color-secondary;
                }
            }

        }
    }
}